<%- include('layout', {content: `
    <h1>Contact Us</h1>
    <ul>
        <li>
            <h3>Contact 1</h3>
            <p>Contact 1 details</p>
        </li>
        <li>
            <h3>Contact 2</h3>
            <p>Contact 2 details</p>
        </li>
        <li>
            <h3>Contact 3</h3>
            <p>Contact 3 details</p>
        </li>
    </ul>
`}) %>